* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.whiteText {
	color: white;
	z-index: 0;
}

.bold {
	font-weight: 600;
}

.aboutComponentWrapper {
	z-index: 0;
	padding: 2em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*width: 100%;*/
	margin-bottom: 120px;
	margin-top: 90px;
}

.aboutHeader{
	margin-top: 1em;
}

.welcomeText{
	color: black;
}

.soGladText{
	color: black;
}

.aboutMeWrapper p {
	padding: 1em 0;
}
.aboutMe {
	width: 250px;
}

.myImg {
	width: 250px;
	border-radius: .25em;
	border: .5px solid lightgrey;
	padding: .25em;
	margin-top: 1em;
	background-color: white;
	z-index: 1;
	position: absolute;
}

.aboutBody {
	display: flex;
	flex-direction: row;
	padding-left: 80px;
}

.myImageWrapper {
	position: static;
	display: inline;
}

.myImageRelativeWrapper {
	position: relative;
}

.myImg {
	position: absolute;
}

.myImageCover {
	position: absolute;
	z-index: 2;
	width: 250px;
	height: 240px;
	font-size: 200px;
	font-family: 'Anonymous Pro', monospace;
	text-align: center;
	margin-top: 15px;
	padding-left: 30px;
	padding-top: 20px;
	border-radius: .5rem;
	background-color:black;
	color: white;
}
.hideMyImageCover {
	background-color: transparent;
	color: transparent;
}

.aboutMeWrapper {
	position: static;
	display: inline;
}

.aboutMeRelativeWrapper {
	position: relative;
}

.aboutMeCover {
	position: absolute;
	top: 255px;
	z-index: 2;
	height: 320px;
	width: 250px;
	background-color: white;
	/*border: 2px solid red;*/
}
.hideAboutMeCover {
	background-color: transparent;
	height: 0px;
}

.aboutMe {
	position: absolute;
	top: 250px;
}

.useTheText {
	color: black;
}

/* MEDIA QUERIES ==========================*/

@media screen and (max-width: 725px) {
	/*.aboutMeWrapper {
		padding-right: 0;
		align-items: flex-start;
	}*/
	.aboutHeader {
		width: 300px;
	}
	.aboutBody{
		padding-left: 0px;
	} 
	/*.aboutComponentWrapper {
		display: block;
	}*/
}

@media screen and (max-width: 300px) {

	main {
		padding: 1em;
	}
	.aboutHeader {
		width: 200px;
		padding: 0;
	}
	h1 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.25em;
	}
	.myImg {
		width: 200px
	}
	.aboutMeWrapper {
		width: 200px;
		align-items: flex-start;
	}
	.aboutMeWrapper p {
		width: 200px;
	}
	.myImageCover {
		width: 192;
		height: 200;
	}
}

/* ANIMATIONS ==========================*/

.welcomeTextAnimated{
	animation: welcomeText;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes welcomeText {
	0% {color: white;}
	100% {color: black;}
}

.soGladTextAnimated{
	animation: soGladText;
	animation-duration: 3s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes soGladText {
	0% {color: white;}
	100% {color: black;}
}

.myImageCoverAnimated {
	animation: myImageCover;
	animation-duration: 4s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes myImageCover {
	0% {
		background-color:black;
		color: white;
	}
	100% {
		background-color: transparent;
		color: transparent;
	}
}

.aboutMeCoverAnimated {
	animation: aboutMeCover;
	animation-duration: 7s;
	animation-delay: 5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes aboutMeCover {
	0% {
		top: 255px;
		height: 320px;
	}
	/*25%{
		top: 312.5px;
		height: 320px;
	}*/
	/*50%{
		top: 375px;
		height: 320px;
	}*/
	75%{
		top: 437.5px;
		height: 320px;
	}
	100% {
		top: 500px;
		height: 0px;
	}
}

.useTheTextAnimated {
	animation: useTheText;
	animation-duration: 3s;
	animation-delay: 14s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes useTheText {
	0% {
	color: white;
	}
	100% {
	color: black;
	}
}

.resumeBtnAnimated{
	transition: color 3s;
	animation: resumeBtn;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes resumeBtn {
	0% {color: black;}
	50% {
		color:purple;
	}
	100% {
		color: black;
	}
}
.resumeBtnAnimated:hover {
	font-weight: 700;
	color: purple;
}



