* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.myImg {
	width: 250px;
	border-radius: .25em;
	border: .5px solid lightgrey;
	padding: .25em;
	margin-top: 1em;
}

.aboutMe {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.aboutMe p {
	padding: 1em 0;
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.aboutMeWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 3em;
}

	@media screen and (max-width: 725px) {
		.aboutMeWrapper {
			padding-right: 0;
			align-items: flex-start;
		}
	}

@media screen and (max-width: 300px) {

	main {
		padding: 1em;
	}
	header {
		width: 200px;
		padding: 0;
	}
	h1 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.25em;
	}
	.myImg {
		width: 200px
	}
	.aboutMe {
		width: 200px;
		align-items: flex-start;
	}
	.aboutMe p {
		width: 200px;
	}
}