.contactWrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 75vh;
	/* background-color: brown; */
}

.contactWrapper h3 {
	padding-bottom: 1em;
}

.contactWrapper h4 {
	padding-bottom: 1em;
}

.contactWrapper a {
	padding-bottom: 1em;
}