* {
	margin: 0;
	padding: 0;
	/* padding-bottom: 120px; */
	box-sizing: border-box;
	/* font-family: 'Anonymous Pro', monospace, 'Courier New', Courier, monospace; */
	font-family: 'Anonymous Pro', monospace;
}

html {
	position: relative;
	min-height: 100%;
}

button {
	margin: .5em;
	border: 2px solid blue;
}

a {
	text-decoration: none;
	font-weight: 500;
	color: black;
	font-size: 1.25em;
	margin: .5em 0em;
	transition: font-weight .3s ease-out;
} 

a:hover {
	text-decoration: none;
	color: black;
	font-weight: 700;
} 

@media screen and (max-width: 525px) {

	a {
		font-size: 1em;
	}
	p {
		font-size: .75em;
	}
}

.App {
	/*position: relative;
	min-height: 100vh;*/
}
